
body{margin:0;}
.header{
        background-color: black;
       width:100%;
     }
  .qie{
  
    position:relative;
     width:76%;
     margin:0 auto;
     height:100px;}
.buk{
   position:absolute;
    top:30%;
    /*left:11%;*/
  }
.zimu{
    margin:0;
    color:#ffffff;
    font-size:36px;
    letter-spacing:-1px;
    text-align:left;
    display: inline-block;
     *zoom:1;
    *display: inline;

  }
.xiaoxie{color:#8c8c8c;
         line-height:20px;
         font-size:12px;
         font-weight:normal;                                                     
         display:inline-block;
          *zoom:1;
          *display: inline;
         margin-left: 10px;
        font-size: 12px     ;
         
       }
/*.xiaoxie{
         zoom:1;
         display:inline;
}*/
.ce{ 
    position:absolute;
    top:30%;
    right:0;
  }
.ce p{
  position:relative;
  width:243px;
    display: inline-block;
     *zoom:1;
    *display: inline;
    font-size:11px;
    padding-right: 10px;
    /*border-right: solid;*/
    color:#737373;
    /*height:23px;*/
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px; 

  }
.fig{
    display: inline-block;
     *zoom:1;
    *display: inline;

    vertical-align: middle;
    }
.splite::before {

  content:'';
  position:absolute;
  top:15px;
  right:0;
  display:inline-block;
  border-right:1px solid white;
  height:23px;
}
.im{
  height: 16px;
  width: 16px;
}
.daohan1{
        background-color:gray;
        width:100%;
        }
.daohan{
        position:relative;
        width:76%;
        height:45px;
       margin:0 auto;}
.mainnav{
           margin:0;
          position:absolute;
           /* top:-15px;*/
           /* left:11%;*/
         }
.mainnav li{
           display:inline-block; 
              *zoom:1;
             *display: inline;
            font-size: 12px;
            width:44px; 
            list-style: none;
            letter-spacing:0px; 
            line-height: 20px;
            color:#ffffff;
            margin-right: 20px;
            padding:12px 9px;
            text-align: center;
          }
.liwai{margin-left:-40px;}
form{
     
     display:inline-block;
     position:absolute;
     top:30%;
     right:0%;}
.auto1{
     margin:0 auto;
       margin-top:45px;
       /*width:76%;*/}
.fengjing{position:relative;
          background-color:white;
          border:solid 1px #e1e1e1;
          width:960px;
          height:500px;
          margin:0 auto;}
.tu2{display:inline-block;
     position:absolute;
     top:0;
     left:0;
     margin-right:36px; 
     margin-left:35px;
     margin-bottom:37px;
     margin-top: 36px;  
     width:909px;
     height:426px;}
.ab{
         position:absolute;
          top:50%;
          right:50px;
          font-size:18px;
          line-height:20px; 
          color:#ffffff;
        }
.an{
   position: absolute;
   padding:0;
   left:50%;
   bottom:0;
   margin-left: -40px;
   }
.ao{
  margin-left: 5px;
  margin-right: 5px;
   list-style: none;
    -moz-border-radius: 50%; /* Firefox */
  -webkit-border-radius: 50%; /* Safari 和 Chrome */
  border-radius: 50%;
   height: 10px;
   width:10px;
   background-color:black;
   float:left;
   }
.fi{
    position:absolute;
    left:50px;
    bottom:60px;
    }
.fi1{ 
    font-size:14px;
    color:#d6d6d6;
  
    }
.fi2{
      width:540px;
      height: 52px;
      font-size:11px;
      color:#d6d6d6;
     }
.dandu{
       border:solid 1px #e1e1e1;
       width:960px;
       margin:auto;
       height:87px; 
       margin-top:30px;
       margin-bottom:30px;
       background-color: white;}
.dandu img{
           display:inline-block;
           float:left;
           font-size: 72px;
           margin:30px 20px;
           margin-bottom:40px; 
           width:34px;
           height:28px; 
          }
.dandu p{
         margin-top:25px;  
         margin-left: 75px;
         width:850px;
         height:50px;
         font-size:12px;
         line-height: 20px;
         letter-spacing: 0px;
         color:#a6a6a6;
         }
/*.zong{
  margin:0 auto;
}*/
.zong{
       width:960px;
       margin:auto;
      margin-top: 30px;
}
.siderbar2{
          float:right;
         }
/*.t1{margin-left:90px ; }*/

.t1 {
     margin-bottom:30px; 
               }
.t2 {
     margin-bottom:30px; 
               }
               .t3 {
     margin-bottom:30px; 
               }
.t3 {
     margin-bottom:30px; 
               }.tutu{
      width:125px;
      height:125px;
     }
.adv{
     font-size:12px;
    }
/*.mainnav1{margin-left:30px; } */
.mainnav1{
         padding-left: 0px;
         height: 25px;
       /*  margin:0;*/
        }
.mainnav1 li{
               display:inline-block; 
               *zoom:1;
              *display: inline;
               list-style:none; 
               padding-right:10px;
               padding-left:10px;
               font-size:12px;
               line-height: 30px;
               color:#373737;
               margin-right: 15px;

           } 

h2{
  padding-bottom: 10px;
  border-bottom: solid 1px #b7b7b7;
  margin:0;
  margin-bottom:20px; 
}

.qh{
  position:relative;
  height: 211px;
}
.tnav{position:absolute;
      top:0;
      left:0;    
      margin:0px;
     padding-left: 5px;
    list-style-position: inside;
    /*list-style-type:square;*/
      }
.tnav li{
         width:257px;
         height:29px;
        font-size: 11px;
        color: #828282;
        line-height: 30px;
        /*list-style:none;*/
        /* border: solid 1px #b7b7b7 ;*/
       
        
      
       

      }
/*.t3{margin-left: 70px;}*/
.t4{
  margin-top:30px;
    }
.main1{
      margin-left: 0px;
       margin-right:260px; 
     /*  margin-top:31px;*/}

.main{
   
   margin:0;
   padding:0;
}
.lei{
    width:720px;
    margin-bottom:30px;
    list-style: none;
  }
.ig{
   display:inline-block;
   float:left;
   margin-right: 15px;
 }

  
 
.xianshi{ 
          width:250px;
          height:250px;}
.nmain{

      display:inline-block;
       width:388px;
       height:250px;
      
     }
.o{
  color: #da5700;
}
.nmain h1{
         width:330px;
          height:46px; 
          margin:0;
         margin-bottom:20px;
         font-size:24px;
         line-height: 20px;
         color:#545454;
         border-bottom:solid 1px #CCCCCC; 
        }
.tb{
    margin-top:0px;
    padding-bottom: 15px;
    height: 11px;
    width:330px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    color:#9b9b9b;
    border-bottom:solid 1px;
    }
.nmain p{
        display:inline-block;
         font-size:12px;
         line-height: 20px;
         letter-spacing: 0px;
         color:#828282;
        }
.zhu{
  margin-top:20px;
}
.js{
  display: inline-block;
  width:122px;
  height:11px;
  font-size: 11px;
  color:#656565;
   }
.g1{
  /*width:88px;
  height: 21px;
  background-image: linear-gradient(0deg,
    #000000  0%,
    #3d3d3d 100%);
  box-shadow: 0px 0px 1px 0px
  #ffffff,
  inset 0px 0px 1px 0px
  #000000;*/
 
  text-align: center;
  font-size: 11px;
  color:#ffffff;
  line-height:21px; 
  height: 21px;
  width:88px;
  display:inline-block;
   background-color: black;
   margin-right:15px; 
  }
.yema{width:720px;}
/*.wrapper{
  min-height: 100%; 
}
.innerwrapper{
  padding-bottom:100px;
}*/
.footer{background-color:black;
       height:100px;
     /*  margin-top: -100px;*/ }
.hao{width:940px;
     margin:0 auto;}
.hao1{font-size:14px; 
      display:inline-block;
      margin-right:480px;
      margin-top:45px;  
      color:white;}
.hao2{font-size: 10px;
      display:inline-block;
      margin-top:45px; 
     color:white;}


.highlight{
  background-color: black;
}
.light{
  background-color:#CCCCCC;
}
.bb:hover{
  cursor:pointer;
  background-color:#CCCCCC;
}

.ls:hover{
   background-color:#CCCCCC;
   cursor:pointer;
}


















